@charset "utf-8";
/* CSS Document */

/*------skip link for accessibility-----*/
.skip-link {
  position: absolute;
  top: -150px;
  left: 0;
  z-index: 9999;
}

.skip-link:focus {
  top: 0;
}

*:focus {
  outline: 0;
  box-shadow: 0 0 4px 4px blue;
}

/*Body*/
body,
td,
th,
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #333;
	line-height: 1.5;
}

body {
	background-color: #fdfdfd;
	margin: 0;
	position: relative;
}

/*style font for links and list items*/
ul,
li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	color: #233;
}

a {
	color: white;
	text-decoration: none;
}

a:hover, a:focus {
	color: #5bf;
	text-decoration: none;
}

a img{
	border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}

/* Footer */
#footer {
  background-color: #233;
  color: #aaa;
  font-size: 0.8em;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
	display: flex;
  width: 100%;
  height: 80px;
  background-color: #233;
  text-align:center;
}

nav h1 {
  margin: auto;
	padding: 10px 0;

}

nav h1 a {
  color: #fff;
  font-size: 0.9em;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
	font-size: 0.9em;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
	padding: 5px;
  /* width: 100%; */
  height: auto;
	text-align: center;
  background-color: #233;
  align-items: center;
}

.filter-options label {
  width: 0;
  overflow: hidden;
}

/* style dropdown filter */
.filter-options h2 {
  color: white;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1;
  margin: 10px 15px;
	padding: 5px;
}

/* style dropdown items */
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 1.1em;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
	display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
}

/*style each flex item of restaurant list  */
#restaurants-list li {
	display: flex;
  flex-direction: column;
	justify-content: space-between;
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 10px;
  text-align: center;
  width: 320px;
	max-width: 100%;
}

/* give min height for res-images  */
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}

#restaurants-list li h1 {
  color: #233;
  font-family: Arial,sans-serif;
  font-size: 1.3em;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 1.1em;
}

/* give color to view details link */
#restaurants-list li a {
  background-color: #233;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 1.0em;
	letter-spacing: 2px;
	border-radius: 3px;
  margin: 15px 0 0;
  padding: 15px 20px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 2;
}

/* ====================== Restaurant Details ====================== */
.inside #maincontent {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  width: 100%;
	justify-content: center;
	align-items: center;
}

.inside header {
  /* position: fixed; */
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
	position: relative;
  width: 100%;
  height: 270px;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

.inside #footer {
  /* bottom: 0; */
  /* position: absolute; */
  /* width: 100%; */
	text-align: center;
  color: white;
}

#restaurant-name {
  color: #233;
  font-family: Arial,sans-serif;
  font-size: 2.0em;
  font-weight: 400;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
	width: 100%;
}

#restaurant-address {
  font-size: 1.2em;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 10px 0 10px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}

#restaurant-container,
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 30px 20px;
  /* width: 50%; */
}

#restaurant-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#reviews-container {
  padding: 30px 20px 60px;
}

#reviews-container h2 {
  color: #233;
  font-size: 2.4em;
  font-weight: 400;
  /* letter-spacing: 1px; */
  padding-bottom: 1pt;
  margin-top: 50px;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 20px 20px;
  position: relative;
  box-shadow: 2px 2px 1px 0 rgba(55, 60, 69, 0.1);
  /* width: 85%; */
}

#reviews-list li p {
  margin: 5px 0 5px;
  /* font-size: 1.0em; */
}

#reviews-list li .name {
  width: 50%;
  font-size: 1.2em;
  display: inline-block;
}

#reviews-list li .date {
  width: 50%;
  display: inline-block;
  font-size: 1.0em;
	text-align: right;
}

#reviews-list li .rating {
  font-weight: bold;
  /* display: inline-block; */
  /* float: right; */
  text-align: right;
	font-size: 1.1em;
}

#reviews-list li .comment {
	font-size: 1.2em;

}

.review-form {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}
 .form-input {
  padding: 14px;
  margin: 8px;
  border: none;
  font-size: 1.1em;
  box-shadow: 2px 3px 2px 0 rgba(55, 60, 69, 0.2);
}
.form-input:focus{
  box-shadow: none;
}
 .review-name-rating {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
 .reviewer-name {
  width: 55%;
}
.label-text {
  font-size: 1.2em;
  margin: 8px;
  float:left;
}

 .reviewer-rating {
  width: 20%;
}
 .reviewer-comments {
  width: 100%;
  height: 90px;
  background: #fff;
  color: #233;
}
 .review-submit {
  width: 25%;
  margin: 8px;
  padding: 15px;
  border: none;
  background: #233;
  color: #fff;
  text-decoration: none;
  letter-spacing: 3px;
  cursor: pointer;
  box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
 .review-submit:hover {
  box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.8) !important;
}
 .review-submit:focus {
  outline: 0 !important;
  box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.8);
}

#restaurant-hours {
	padding: 5px;
}

#restaurant-hours td {
  color: #666;
	font-size: 0.9em;
}

#restaurant-hours td:nth-child(1) {
	font-weight: bold;
}

/* offline content */
  #offlinecontent {
    padding: 30px;
    width: 100%;
    font-size: 1.1em;
    color: #233;
    background: #fff;
  }

  #offlinecontent p a {
    color: blue;
  }

/* ====================== Media Queries ====================== */
/* responsiveness(reduce font-size) for devices below 498px */
@media screen and (max-width: 498px) {
  #footer,nav h1 a {
    font-size: 0.7em;
  }

  #restaurant-name,
  #restaurant-cuisine,
  #restaurant-address {
    font-size: 1.1em;
  }

  #reviews-container h2 {
    font-size: 1.5em;
    text-align: center;
  }

  .inside #breadcrumb {
    font-size: 0.8em;
  }

  .review-form {
    justify-content: center;
  }

  .review-submit {
    width: 50%;
  }
  .review-name-rating {
    flex-direction: column;
  }
}

/* responsiveness for devices b/w 499px and 799px */
@media screen and (min-width: 499px) and (max-width: 799px) {
  #restaurant-name,
  #restaurant-cuisine,
  #restaurant-address {
    font-size: 1.3em;
  }

  #reviews-container h2 {
    font-size: 1.5em;
    text-align: center;
  }
}

/* change layout after 800px */
@media screen and (min-width: 800px) {
	.inside #maincontent {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
	}

	.inside #map-container {
		width: 40%;
		height: 700px;
	}

	.inside #restaurant-container {
		width: 40%;
	}

  .inside #reviews-container {
    padding: 30px 50px;
  }
}

/* give margin after hitting 1200px */
@media screen and (min-width: 1200px) {
	body {
		max-width: 1200px;
		margin: 0 auto;
}
}
